
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

@font-face {
    font-family: equilibrium;
    src: url(../assets/equilibrium.woff2);
}

   body {
    background-color: #122142;
    
    font-family: 'Lucida Sans';
    color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
        'header header header'
        'ctr-zone game-zone  help-zone'
        'r-ft m-ft l-ft'    
    ;
    border: 2px white solid;
  }

 



  h1 {
    border: 2px green solid;
    color: green;
    font-family: equilibrium, 'Lucida Sans';
    grid-area: header;
    text-align: center;
    padding: 5px;   
    margin-top: 1%;
    font-size: 2pc;      
  }
  nav{
      grid-area: ctr-zone;
      color: silver;
      margin: 20px;
      padding: 10px;
  }
  nav :nth-child{
    padding: 10px;
  }
  main{
      grid-area: game-zone;
      border: olivedrab 2px solid;
      text-align: center;  
  }
  
  #cover {
    display: block;
    margin: auto;
    width: 25%;
    padding-top: 2%;  
      
    }
  #board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(20, auto);
    align-content: center;
    
  }
  .cell{
    width: 25px;
    height: 25px;
    font-size: 10px;
    background-color: rgb(65, 201, 12);
    border-radius: 15%;
   
    
        }

  .help {
      grid-area: help-zone;
      color: yellow;
      margin: 20px;
      padding: 3px;

  }
  .help > h2, .help > h3 {
    margin: 15px 0px;
    color: rgb(241, 14, 90);
  } 

  @keyframes food {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  .food {
    background-color: orange;
    animation: food 1s infinite;
    border-radius: 50%;

  }

 
  .footer {
    grid-area: m-ft;  
    color:tomato;

  }
    
    #level, #score , #goal, #speedvalue {
    margin-top: 5px; 
    color: yellowgreen;
    margin-right: 10px;
  }

  .winning-message {
    display: none;
    position: fixed;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem ;
    flex-direction: column;
}
.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .2em .5em;
    cursor: pointer;
}
.winning-message button:hover {
    background-color: black;
    border-color: white;
    color: white;
}
.winning-message.show {
    display: flex;
}
#nextLevel {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 95vw;
    grid-template-rows: 10vh 80vh 5vh 70vh 30vh;
    grid-template-areas:       
        'header'
        'game-zone'
        'm-ft'
        'help-zone'
        'ctr-zone';
    border: none;  
    
  } 

  h1 {
    font-size: 5vh;
  }
  .cell {
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
    background-color: greenyellow;
  }
}
